@model ProjectItem
@using Newtonsoft.Json;

@{
}

@foreach (var item in @Model.Pictures)
{
    if (item.IsLiveImage)
    {
        <div class="live-image">
            <img src="@item.PictureSrc" alt="Alternate Text" />
        </div>
    }
    else
    {
        <div class="design-image">
            <img src="@item.PictureSrc" alt="Alternate Text" />
        </div>
    }
}

<div class="comments">
    @foreach (var item in @Model.Comments)
    {
        <div class="comment-item">
            @item.LiveComment
        </div>
    }
</div>

<script>
    var xx = @Html.Raw(Model.CropSettings);

</script>